@use 'styles/core/boilerplate' as *;

.wrapper {
  background-color: $color-neutral-0-reverse;
  padding: 48px;
  display: flex;
  justify-content: center;

  @include desktop-down {
    padding: 64px 38px;
  }
}

.container {
  width: 100%;
  max-width: $container-max-width;

  @include desktop-down {
    max-width: 284px;
  }
}

.logo {
  margin-bottom: 10px;
  @include desktop-down {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.link {
  @include body-md();
  color: $color-text-reverse;
  margin-bottom: 12px;

  @include desktop-down {
    margin-bottom: 18px;
  }

  &_block {
    display: flex;
    flex-direction: column;

    a:hover {
      opacity: 0.8;
    }

    @include desktop-down {
      text-align: center;
      width: 100%;
      margin-bottom: 52px;
    }

    &s {
      margin-bottom: 52px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @include desktop-down {
        flex-direction: column;
        margin-bottom: 0;
      }
    }

    h4 {
      @include heading-sm;
      margin: 4px 0 14px;
      color: $color-text-reverse;
    }
  }
}

.logo_wrapper {
  @include desktop-down {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 52px;
  }
}

.border {
  background: $gradient-rainbow;
  padding: 2px;
  border-radius: 20px;
}

.submenu {
  &_wrapper {
    padding-top: 72px;
    display: flex;
    justify-content: space-between;

    a:hover {
      opacity: 0.8;
    }

    @include desktop-down {
      padding-top: 24px;
      flex-direction: column;
      text-align: center;
    }
  }

  &_links {
    @include primary-font(500);
    @include font-size(16);
    color: $color-text-reverse;

    span:first-child {
      margin-right: 18px;
      @include desktop-down {
        margin-right: 0;
      }
    }

    @include desktop-down {
      margin-bottom: 44px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &_link {
    line-height: 24px;
    text-decoration-line: underline;
    margin-right: 18px;

    @include desktop-down {
      margin: 8px;
    }
  }
}
