@use 'styles/core/boilerplate' as *;

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 20px;
}

.response {
  @include body-sm;
  margin: 12px -33px;
  padding: 20px;
  background-color: $color-background-subtle-callout;
}

.loader {
  height: 400px;
  width: 100%;
}
