@use 'styles/core/boilerplate' as *;

.card {
  border-radius: 8px;

  &_wrapper {
    :global(.pulse) {
      animation-name: pulse;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    &.square_wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &.row_wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}

.row {
  height: 80px;
  margin: 20px;
}

.square {
  height: 250px;
  flex-grow: 1;
  margin: 20px;
}

@keyframes pulse {
  0% {
    background-color: rgba(23, 10, 122, 0.1);
  }

  50% {
    background-color: rgba(23, 10, 122, 0.5);
  }

  100% {
    background-color: rgba(23, 10, 122, 0.1);
  }
}
