.typing_indicator {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  width: 50px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0;
  animation: typing 2s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.5s;
}

.dot:nth-child(3) {
  animation-delay: 1s;
}

@keyframes typing {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}
