@use 'styles/core/boilerplate' as *;

.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  position: relative;
  padding: 60px 12px;
  display: flex;
  justify-content: center;
  background: $gradient-rainbow;

  @include tablet-down {
    padding: 40px 12px;
  }
}

.contents {
  width: 540px;

  color: $color-text-reverse;

  @include tablet-down {
    width: 280px;
  }

  @include mobile-down {
  }

  &_wrapper {
    max-width: $container-max-width;
    width: $container-max-width;
    z-index: 1;

    @include mobile-down {
      display: flex;
      justify-content: center;
    }
  }
}
