@use 'styles/core/boilerplate' as *;

.nav {
  &_open {
    right: 0;
  }

  &_closed {
    right: -327px;
  }

  &_wrapper {
    height: 100%;
    width: 100%;
    max-width: 327px;
    background-color: $color-background-neutral-0;
    box-shadow: $drop-shadow-right;
    z-index: 2;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0px;
  }

  &_container {
    ul {
      list-style-type: none;
    }

    li {
      padding: 20px 0;
    }
  }

  &_link {
    @include navigation-link;
  }
}

.menu_button {
  margin-left: 30px;
}

.banner_gradient {
  padding: 4px;
  background: $gradient-rainbow;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: $color-background-modal-overlay;

  &_open {
    width: 100%;
  }

  &_closed {
    width: 0;
  }
}
