@use 'styles/core/boilerplate' as *;

.page {
  background: $color-background-reverse;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 500px;
}
