@use 'styles/core/boilerplate' as *;

.wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;

  @include tablet-down {
    padding: 20px;
  }
}

.container {
  max-width: $container-max-width;
  overflow: hidden;
}

.body {
  @include paragraph;
  p {
    margin-bottom: 12px;
  }

  h3,
  h2 {
    @include heading-lg;
    margin: 40px 0;
  }

  img {
    width: 100%;
    padding: 20px 0;
  }
}
